/* Colores */
html {
  font-size: 62, 5%; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

h1, h2, h3 {
  color: #F2F4F3; }

h1 {
  transition: 1s; }
  h1:hover {
    scale: 1.05; }

html {
  background-color: #0F1108; }

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media screen and (min-width: 300px) {
  .landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50px;
    border: solid 3px #ccc;
    background: linear-gradient(135deg, #312f2f 32%, #514c4c 88% 100%); }
    .landingWelcome {
      font-size: 33px;
      width: 300px;
      text-align: center; }
    .landingBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 10px 0px; }
    .landingTitle {
      font-size: 28px;
      width: 350px;
      text-align: center; }
  .link {
    color: #F2F4F3;
    font-size: 24px;
    transition: 0.7s; }
    .link:hover {
      scale: 1.1; } }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  margin: 20px 0px;
  border: solid 2px #F2F4F3;
  border-radius: 40px;
  background-color: #312F2F; }
  .formLegend {
    color: #F2F4F3;
    font-size: 22px; }
  .formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 0px; }
  .formLabel {
    font-size: 15px;
    color: #F2F4F3; }
  .formInput {
    font-size: 15px;
    border: none;
    padding: 6px;
    border-radius: 15px; }
    .formInputInvalid {
      border: 4px solid #FF1B1C; }
  .formButton {
    border: none;
    padding: 9px;
    border-radius: 15px;
    background-color: #ccc;
    font-size: 15px;
    font-weight: 550;
    color: #0F1108;
    transition: 1s; }
    .formButton:hover {
      background-color: #312F2F;
      color: #F2F4F3; }
  .formSpan {
    font-size: 14px;
    color: #FF1B1C;
    width: 200px; }

.negative {
  color: #FF1B1C;
  font-weight: bold;
  font-size: 16px; }

@media screen and (min-width: 300px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px 0px;
    width: 100%; }
    header ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px; }
    header div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px; }
      header div span {
        color: #F2F4F3; }
  .btnSignOut {
    background-color: #F2F4F3;
    color: #312F2F;
    transition: 0.7s;
    border: none;
    padding: 6px;
    border-radius: 25px; }
    .btnSignOut:hover {
      background-color: #ccc;
      color: #0F1108; } }

@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-around; }
    header ul {
      flex-direction: row;
      gap: 20px; } }

.mainMovie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 15px 0px; }

.input {
  font-size: 15px;
  border: none;
  padding: 6px;
  border-radius: 15px; }

@media screen and (min-width: 300px) {
  .layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 40px 0px;
    background-color: #141414; } }

@media screen and (min-width: 300px) {
  .card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 5px;
    transition: 0.8s;
    width: 290px;
    height: 650px;
    border-radius: 25px; }
    .card:hover {
      scale: 1.02; }
    .cardImg {
      width: 270px;
      height: 450px;
      transition: 0.5s;
      border-radius: 30px; }
      .cardImg:hover {
        scale: 1.02; }
    .cardP {
      font-size: 1.14rem; }
    .cardBtn {
      border: none;
      border-radius: 25px;
      width: 60px;
      height: 60px;
      background-color: transparent;
      transition: 0.6s; }
      .cardBtn:hover {
        scale: 1.15; }
    .cardContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px; }
      .cardContainerType {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px; }
  .h3Title {
    color: #0F1108;
    font-size: 1.2rem; } }

@media screen and (min-width: 620px) {
  .card {
    flex-direction: row;
    width: 400px;
    height: 400px; }
    .cardImg {
      width: 280px;
      height: 380px; }
    .cardContainer {
      height: 370px;
      justify-content: space-around; } }
