html {
    font-size: 62, 5%;
    background-color: $primero;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    color: $quinto;
}

h1 {
    transition: 1s;

    &:hover {
        scale: 1.05;
    }
}

ul li {
    list-style: none;
}

#app {
    @include flexColCenCen;
}