.landing {
    @include flexColCenCen;
    @include gapPad(30px, 50px 20px);
    margin-top: 30px;
    margin-bottom: 30px;
    width: 380px;
    border-radius: 50px;
    border: solid 3px $sexto;
    background: linear-gradient(135deg, rgba(49, 47, 47, 1) 32%, rgba(81, 76, 76, 1) 88% 100%);

    &Welcome {
        font-size: 33px;
    }

    &Box {
        @include flexColCenCen;
        @include gapPad(10px, 10px 0px);
    }

    &Title {
        font-size: 28px;
    }
}

.link {
    color: $quinto;
    font-size: 24px;
    transition: 0.7s;

    &:hover {
        scale: 1.1;
    }
}