@media screen and (min-width: 300px) {
    .card {
        background-color: white;
        @include flexColCenCen;
        @include gapPad(15px, 10px 5px);
        transition: 0.8s;
        @include widthHeight(290px, 650px);
        border-radius: 25px;

        &:hover {
            scale: 1.02;
        }

        &Img {
            @include widthHeight(270px, 450px);
            transition: 0.5s;
            border-radius: 30px;

            &:hover {
                scale: 1.02;
            }
        }

        &P {
            font-size: 1.14rem;
        }

        &Btn {
            border: none;
            border-radius: 25px;
            @include widthHeight(60px, 60px);
            background-color: transparent;
            transition: 0.6s;
            &:hover {
                scale: 1.15;
            }
        }

        &Container {
            @include flexColCenCen;
            gap: 10px;

            &Type {
                @include flexColCenCen;
                gap: 10px;
            }
        }

    }

    .h3Title {
        color: $primero;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 620px) {
    .card {
        flex-direction: row;
        @include widthHeight(400px, 400px);

        &Img {
            @include widthHeight(280px, 380px);
        }

        &Container {
            height: 370px;
            justify-content: space-around;
        }
    }
}